.exercise-container{
    display: flex;
}
.exercise-demand{
    background-color: rgb(55, 74, 92);
    border: solid 2px rgb(20, 30, 41);
    border-radius: 6px;
    padding: 0.2em;
    margin: 0em 0.2em 0em 0.2em;
}
.training-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exercise-box{
    background-color: rgb(41, 53, 65);
    border: 2px solid rgb(10, 28, 44);
    border-radius: 0.5em;
    padding: 0.3em;
}
.exercise-block{
    min-height: 10em;
    min-width: 12em;
    background-color: none;
}
.next-exercise{
    font-size: 1em;
    padding: 0.4em;
    margin: 0.3em;
    background-color: rgb(56, 56, 56);
    width: auto;
    background-color: rgb(255, 211, 17);
    border: 2px solid rgb(53, 38, 6);
    border-radius: 1em;
}
ul{
    list-style: none;
}
.timer-button{
    margin: 0.5em;
    font-size: 1em;
    min-width: 2em;
    background-color: rgb(78, 175, 255);
    border: solid 2px black;
    border-radius: 1em;
    padding: 0.4em;
}